.gameplay {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
  position: relative;
  z-index: 1;
}
.invisible {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  z-index: 0;
}

.startDisplay,
.gameDisplay {
  width: 100%;
  max-width: 420px;
}

.bestToday {
  width: 100%;
  border-radius: 0.4rem;
}
.bestToday .header {
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
}
.bestToday .body {
  display: flex;
}
.bestToday .avatarBox {
  width: 6rem;
  height: 6rem;
  padding: 0 1.5rem 0.8rem;
  box-sizing: content-box;
}
.bestToday .infoBox {
  flex-grow: 1;
}

.instruction .text {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
.instruction .smallText {
  font-size: 1.6rem;
}

.controls {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
}
.controls .top,
.controls .bottom {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  gap: 0.5rem;
}
.controls .top {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.controls .bottom {
  grid-template-columns: 1fr 1fr;
}
.controls .arrowContainer {
  padding: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  transition: all 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controls .arrowContainer:not(.impotent):hover {
  background-color: var(--color-white-glass-one);
}
.controls .impotent {
  padding: 0.5rem;
}

.controls .impotent .arrow {
  height: 4rem;
}

.controls .arrow {
  height: 5vh;
  width: 5vh;
}
.controls .text {
  font-size: 1.6rem;
  text-align: center;
}

.spacer {
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  background-color: var(--color-white-glass-two);
}

.actionButtonsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actionButtonsBox > .button {
  font-size: 3rem;
  background-color: transparent;
  color: white;
  border-radius: 0.4rem;
  transition: all 300ms;
  padding: 0.5rem 1rem;
}
.actionButtonsBox > .button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.gameDisplay {
  height: 90vh;
}

.gameboard {
  height: 80%;
  display: flex;
  flex-direction: column;
}
.gameboard div.none {
  background-color: var(--color-white-glass-one);
}
.gameboard div.red {
  background-color: rgb(255, 80, 109);
}
.gameboard div.green {
  background-color: rgb(44, 207, 93);
}
.gameboard div.blue {
  background-color: rgb(44, 202, 207);
}
.gameboard div.purple {
  background-color: rgb(195, 106, 255);
}
.gameboard div.orange {
  background-color: rgb(255, 142, 66);
}
.gameboard div.white {
  background-color: rgb(200, 200, 200);
  transition: all 300ms;
}

.gameboard .countdown {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 30vh;
  color: rgba(255, 255, 255, 0.6);
}

.tetrisboard {
  display: grid;
  gap: 0.3rem;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  flex: 1;
  height: 80%;
}

.tetrisboard div {
  border-radius: 30%;
}

.showboard {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 20%;
}
.showboard .nextTile {
  display: grid;
  gap: 0.2rem;
}
.showboard .nextTile div {
  border-radius: 30%;
}

.showboard .pauseAndMuteContainer {
  margin: 0 1.5rem;
  width: 3rem;
}

.showboard .pauseAndMuteContainer button {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: inherit;
}
.showboard .pauseAndMuteContainer button span {
  display: inline-flex;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;
}
.showboard .pauseAndMuteContainer button span.active {
  visibility: visible;
  opacity: 1;
}

.showboard .infoContainer {
  flex-grow: 1;
}

.showboard .infoContainer .info {
  padding: 0.3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
