/*#region font-face*/
@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: PoppinsThin;
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
}
@font-face {
  font-family: PoppinsExtraLight;
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: PoppinsLight;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url("../fonts//Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: PoppinsExtraBold;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: PoppinsItalic;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
}
@font-face {
  font-family: PoppinsThinItalic;
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
}
@font-face {
  font-family: PoppinsExtraLightItalic;
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
}
@font-face {
  font-family: PoppinsLightItalic;
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf");
}
@font-face {
  font-family: PoppinsMediumItalic;
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
}
@font-face {
  font-family: PoppinsSemiBoldItalic;
  src: url("../fonts//Poppins/Poppins-SemiBoldItalic.ttf");
}
@font-face {
  font-family: PoppinsBoldItalic;
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
}
@font-face {
  font-family: PoppinsExtraBoldItalic;
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: Inika;
  src: url("../fonts/Inika/Inika-Regular.ttf");
}
@font-face {
  font-family: InikaBold;
  src: url("../fonts/Inika/Inika-Bold.ttf");
}
@font-face {
  font-family: Carter;
  src: url("../fonts/Carter/CarterOne-Regular.ttf");
}
/* #endregion */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 2.4rem;
}

:root {
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
button,
button:focus,
button:hover,
input,
input:focus,
input:hover {
  border: inherit;
  outline: inherit;
  cursor: pointer;
  font-size: inherit;
}

#body {
  --color-bg-one: rgb(0, 101, 196);
  --color-text-one: rgb(250, 253, 255);
  --color-text-three: rgb(68, 149, 255);
  --color-white-glass-one: rgba(250, 250, 250, 0.2);
  --color-green-glass-one: rgba(0, 255, 200, 0.1);

  min-height: 100vh;
  background-color: var(--color-bg-one);
  color: var(--color-text-one);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

/*#region t-font */

.t-thin {
  font-family: PoppinsThin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 100;
}

.t-xlight {
  font-family: PoppinsExtraLight, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 200;
}

.t-light {
  font-family: PoppinsLight, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

.t-regular {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

.t-medium {
  font-family: PoppinsMedium, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 500;
}

.t-sbold {
  font-family: PoppinsSemiBold, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 600;
}

.t-bold {
  font-family: PoppinsBold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
}

.t-xbold {
  font-family: PoppinsExtraBold, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 800;
}

/* italicas */

.t-thin-italic {
  font-family: PoppinsThinItalic, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 100;
  font-style: italic;
}

.t-xlight-italic {
  font-family: PoppinsExtraLightItalic, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.t-light-italic {
  font-family: PoppinsLightItalic, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 300;
  font-style: italic;
}

.t-italic {
  font-family: PoppinsItalic, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 400;
  font-style: italic;
}

.t-medium-italic {
  font-family: PoppinsMediumItalic, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 500;
  font-style: italic;
}

.t-sbold-italic {
  font-family: PoppinsSemiBoldItalic, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 600;
  font-style: italic;
}

.t-bold-italic {
  font-family: PoppinsBoldItalic, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 700;
  font-style: italic;
}

.t-xbold-italic {
  font-family: PoppinsExtraBoldItalic, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.t-mono {
  font-family: SourceCode, consolas, monospace;
  font-weight: 400;
}

.t-inika {
  font-family: Inika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.t-inika-bold {
  letter-spacing: 0.2rem;
  font-family: InikaBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.t-carter {
  letter-spacing: 0.1rem;
  word-spacing: 0.8rem;
  font-family: Carter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*#endregion */

.noScrollBar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}
